name: Coverage Comment

on:
  pull_request_target:

permissions:
  pull-requests: write
  checks: write

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage

      - name: Post coverage
        uses: orgoro/coverage@v3.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          coverageFile: coverage.xml
          thresholdNew: 0.98
